* {
    margin: 0;
    padding: 0;
}
.about h1 {
    animation: type 3s;
    overflow: hidden;
    white-space: nowrap;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 26ch;
    }
}
header {
    background-color: aqua;
    height: 5%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
}
.nav a {
    text-decoration: none;
    color: black;
}
main {
    padding: 0 5%;
}
.about {
    display: flex;
}
.about img {
    position: absolute;
    margin-left: 30%;
}
.dev-info {
    width: 30%;
    margin-top: 6%;
    text-align: justify;
}
.dev-info h1 {
    margin-bottom: 5%;
}
.dev-info h2 {
    margin-bottom: 2%;
}
.project {
    margin-top: 5%;
}
.project {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}
.card {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}
.card-info {
    width: 40%;
}
.link-card {
    margin-top: 5%;
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-family:Verdana;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
}
.card-1 {
    display: flex;
}
.footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10%;
    margin-left: 45%;
}
.footer img {
    width: 5%;
}
.link-footer {
    display: inline-block;
    margin-left: 9%;
}